
## Sandbox:
sandbox.*


## Clean Up Gerbers files are in a different repo:
prepwork.sh
comments.rtf

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# Texpad
.texpadtmp

# Mac OS X
Icon*
.DS_Store
.dropbox
